@import "../../colors.scss";
.skill {
  display: flex;
  flex-direction: column;
  gap: 10px;
  h2 {
    color: $high-contrast-text;
    font-size: 20px;
    margin: 0;
  }
  .tool {
    align-items: center;
    display: flex;
    gap: 5px;
    img {
      height: 20px;
      width: 20px;
    }
    p {
      color: $low-contrast-text;
      font-size: 16px;
      margin: 0;
    }
  }
}
