.tag {
  background-color: #4b516b;
  // border: 1px solid #f5eeea;
  border-radius: 5px;
  color: white;
  font-size: 12.5px;
  overflow: hidden;
  padding: 0 0 2px 0;
  text-align: center;
  width: 5rem;
}
