@import "../../colors.scss";
.form {
  ul {
    padding: 0;
    .field {
      height: 72px;
      padding: 16px 0 8px 0;
      position: relative;
      &::after {
        background-color: $color-contrast-text;
        bottom: 6px;
        content: "";
        height: 2px;
        left: 0;
        position: absolute;
        width: 100%;
      }
      .field-label {
        color: $high-contrast-text;
        display: block;
        font-size: 16px;
        font-weight: 400;
        line-height: 16px;
        margin: 0;
        position: relative;
        transform: translateY(24px);
      }
      .field-input {
        background: transparent;
        border: none;
        display: block;
        font-size: 16px;
        height: 32px;
        line-height: 16px;
        outline: none;
        padding: 8px 0;
        position: relative;
        -webkit-appearance: none;
        width: 100%;
      }
    }
  }
}
.is-focused {
  background-color: lavender;
}
