@import "../../colors.scss";

.home {
  width: 896px;
  .content {
    .introducing {
      h1 {
        color: $high-contrast-text;
      }
      p {
        color: $low-contrast-text;
        max-width: 60ch;
        span {
          color: $color-contrast-text;
          font-weight: 700;
        }
      }
      nav {
        color: $high-contrast-text;
        display: flex;
        gap: 5px;
        a {
          background: linear-gradient(
              to top,
              $color-contrast-text 0%,
              $color-contrast-text 10%,
              transparent 10.01%
            )
            no-repeat;
          background-size: 0 100%;
          color: $low-contrast-text;
          position: relative;
          text-decoration: none;
          transition: background-size 0.2s;
          &:hover {
            background-size: 100% 100%;
          }
        }
      }
    }
    .projects {
      max-width: 595px;
      h1 {
        color: $high-contrast-text;
      }
      .projects-cards {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
    }
    .about {
      display: flex;
      gap: 50px;
      .about-me {
        display: flex;
        flex-direction: column;
        h1 {
          color: $high-contrast-text;
        }
        p {
          color: $low-contrast-text;
          margin: 0;
        }
      }
      .me {
        border: 1px solid $color-contrast-text;
        border-radius: 2.5px;
        height: auto;
        width: auto;
        img {
          border-radius: 2.5px;
          filter: grayscale(1);
          transform: translate(-1em, 1em);
          transition: transform 0.2s ease-in;
          vertical-align: bottom;
          width: 200px;
          &:hover {
            transform: translate(0);
          }
        }
      }
    }
  }
  .toolkit {
    h1 {
      color: $high-contrast-text;
    }
    .skills {
      display: flex;
      justify-content: space-between;
    }
  }
}
