@import "../../colors.scss";

.button {
  align-items: center;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  color: white;
  display: flex;
  font-weight: 600;
  gap: 5px;
  justify-content: space-evenly;
  padding: 15px;
  text-decoration: none;
  min-width: 125px;
}

.button-projects {
  color: white;
  background-color: $tertiary-color;
  transition: background-color 0.3s ease-in;
  &:hover {
    background-color: $primary-color;
  }
}

.button-github {
  background-color: $quaternary-color;
  transition: background-color 0.3s ease-in;
  &:hover {
    background-color: #737a97;
  }
}
