@import "../../colors.scss";

.button {
  align-items: center;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  color: white;
  display: flex;
  font-weight: 600;
  gap: 5px;
  justify-content: space-evenly;
  padding: 15px;
  text-decoration: none;
  min-width: 125px;
}

.button-projects {
  color: white;
  background-color: $tertiary-color;
  transition: background-color 0.3s ease-in;
  &:hover {
    background-color: #447883;
  }
}

.button-github {
  background-color: $quaternary-color;
  transition: background-color 0.3s ease-in;
  &:hover {
    background-color: #262d3f;
  }
}
