@import "../../colors.scss";
.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  .email,
  .link {
    color: $high-contrast-text;
  }
  .email {
    margin: 0;
  }
  .link {
    text-decoration: none;
  }
}
