@import "../../colors.scss";

header {
  align-items: center;
  backdrop-filter: blur(5px);
  box-sizing: border-box;
  display: flex;
  flex: 1;
  justify-content: space-between;
  min-height: 54px;
  padding: 1rem 2rem;
  position: fixed;
  transform: none;
  width: 100%;
  z-index: 1;
  .logo {
    color: white;
  }
  .navigation {
    display: flex;
    gap: 10px;
    a {
      color: white;
      text-decoration: none;
    }
  }
}
