@import "../../colors.scss";

.icon {
  cursor: pointer;
  border-radius: 15px;
  display: flex;
  padding: 10px;
  text-decoration: none;
  &:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }
  i {
    align-items: center;
    display: flex;
    height: 20px;
    justify-content: center;
    width: 20px;
  }
}
