.projects {
  display: grid;
  flex: 5;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr 1fr;
  padding: 5rem;
}

@media (max-width: 1024px) {
  .projects {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .projects {
    grid-template-columns: 1fr;
    // grid-template-rows: 8rem 8rem 8rem;
  }
}

@media (max-width: 425px) {
  .projects {
    padding: 5rem 1rem;
  }
}
